body{
    color: #036;
    background-color: #fffefc;
    font-family: Tahoma,Verdana,Arial;
}
.wraper{
	margin: 0px auto;
	display: block;
	width: 270px;
}

#th{
	font-weight: bolder;
	font-family: Tahoma,Verdana,Arial;
	font-size: 8pt;
	color: #000080;
	background-color: #CC9;
	text-align: left;
	display: block;
}
table{
	border:2px solid #CC9;

}

table td {
	font-size: 9pt;
	font-family: Tahoma,Verdana,Arial;
	text-align: right;
}
table td input{
	font-size: 8pt;
	font-family: Tahoma,Verdana,Arial;
	height:20px;
}

#login{
	color: #036;
	font-family: Tahoma,Verdana,Arial;
}
.msg{
	display: block;
	text-align: justify;
	margin: 0px auto;
	width: 600px;
	border: 2px solid #960000;
	padding: 11px;
	background-color: #FCEAC6;
}

.msg0{
	display: block;
	text-align: center;
	margin: 0px auto;
	width: 600px;
	border: 2px solid #960000;
	padding: 11px;
	background-color: #FCEAC6;
}
.msgGrade{
	display: block;
	text-align: center;
	margin: 0px auto;
	border: 2px solid #960000;
	padding: 11px;
	background-color: #FCEAC6;
}

.msgSubGrade{
	display: block;
	text-align: left;
	margin: 0px auto;
	border: 2px solid #960000;
	padding: 11px;
	background-color: #FCEAC6;	
}

#grades{
	border:0px;	
	border-spacing: 0px;


}

#grades td{
	padding: 2px;
	font-size: 11pt;
	font-family: Tahoma,Verdana,Arial;

}
#grades tr{
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	transition: all 200ms linear;
}
#grades tr:hover{
	cursor: pointer;
	background-color: #FED37D;
}

#version {
    display: block;
    text-align: center;
    margin: 0px auto;
    width: 180px;
    padding: 11px;
    margin-top: 5px;
}

#cut_grades{
	border:0px;	
	border-spacing: 0px;
	width:600px;

}

#cut_grades td{
	padding: 2px;
	font-size: 11pt;
	font-family: Tahoma,Verdana,Arial;

}
#cut_grades tr{
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	transition: all 200ms linear;
}
#cut_grades tr:hover{
	cursor: pointer;
	background-color: #FED37D;
}

.more{
	margin: 0px auto;
	display: block;
	text-align: center;

}

.msg5{
	display: none;
	text-align: justify;
	margin: 0px auto;
	width: 600px;
	border: 2px solid black;
	padding: 11px;
	background-color: #FCEAC6;

}

.down{
	display: block;
	margin: 0px auto;
	cursor: pointer;

}
.up{
	display: block;
	margin: 0px auto;
	margin-top: 5px;
}

.msg4{
	display: block;
	text-align: center;
	margin: 0px auto;
	width: 300px;
	border: 2px solid black;
	padding: 11px;
	background-color: #FCEAC6;
	cursor: pointer;

}
